{% extends 'inventory_layout.html' %}
{% load static %}
{% block title %}
Drug Registration
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">

    
    <div class="col-md-6 col-md-push-3">
      <div id = "my_alert_box"></div>
      {% if productsForm.errors %}
      <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
        Error ! Check Your data please. </div>
    </div>
						{% endif %}
      <form name="reg-form" id = "new_drug_form" class="register-form" method="post">
     <h3 class="font-28">Register Drug </h2>
      {% csrf_token %}

        <hr>
        <div class="row">
          <div class="form-group col-md-8">
            <!-- <label>Category</label>
            <input name="drug_category_name" class="form-control" type="text"> -->
            <label> {{productsForm.chemical_name.label}}</label>
              {{productsForm.chemical_name}}
          </div>
          <div class="form-group col-md-8">
            <!-- <label>Category</label>
            <input name="drug_category_name" class="form-control" type="text"> -->
            <label> {{productsForm.item_type.label}}</label>
              {{productsForm.item_type}}
          </div>
          <div class="form-group col-md-8">
            <!-- <label>Category</label>
            <input name="drug_category_name" class="form-control" type="text"> -->
            <label> {{productsForm.brand_name.label}}</label>
              {{productsForm.brand_name}}
          </div>
          <div class="form-group col-md-8">
            <!-- <label>Category</label>
            <input name="drug_category_name" class="form-control" type="text"> -->
            <label> {{productsForm.item_name.label}}</label>
              {{productsForm.item_name}}
          </div>
          <div class="form-group col-md-8">
            <!-- <label>Category</label>
            <input name="drug_category_name" class="form-control" type="text"> -->
            <label> {{productsForm.receiving_name.label}}</label>
              {{productsForm.receiving_name}}
          </div>
          <div class="form-group col-md-8">
            <!-- <label>Category</label>
            <input name="drug_category_name" class="form-control" type="text"> -->
            <label> {{productsForm.receiving_number.label}}</label>
              {{productsForm.receiving_number}}
          </div>
          <div class="form-group col-md-8">
            <!-- <label>Category</label>
            <input name="drug_category_name" class="form-control" type="text"> -->
            <label> {{productsForm.dispensing_name.label}}</label>
              {{productsForm.dispensing_name}}
          </div>
          <div class="form-group col-md-8">
            <!-- <label>Category</label>
            <input name="drug_category_name" class="form-control" type="text"> -->
            <label> {{productsForm.dispensing_number.label}}</label>
              {{productsForm.dispensing_number}}
          </div>
          



        </div>
        
  </textarea>
        <div class="form-group">
  <div id="like_button_container"></div>

          <button class="btn btn-dark btn-lg btn-block mt-15" id = "submit_drug_data" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
    {% endblock %}